/* From Uiverse.io by Gaurang7717 */
.chat-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.18);
  background-color: #00d757;
}

.chat-btn .sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-btn .sign svg {
  width: 22px;
  height: 22px;
}

.chat-btn .sign svg path {
  fill: white;
}
.chat-btn .text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.1em;
  font-weight: 600;
  transition-duration: 0.3s;
}

.chat-btn:hover {
  width: 100px;
  border-radius: 36px;
  transition-duration: 0.3s;
}

.chat-btn:hover .sign {
  width: 40%;
  transition-duration: 0.3s;
  padding-left: 7px;
}

.chat-btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 7px;
}
.chat-btn:active {
  transform: translate(2px, 2px);
} 